@import url('https://fonts.cdnfonts.com/css/hero-new');

body{
    font-family: "Hero New", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex; 
    flex: 1;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul{
    list-style-type: none;
}

.introimg img{
    max-height: 280px;
    width: auto;
    display: flex;
}

.info img{
    height: 150px;
    width: 150px;
    display: flex;
    border-style: solid;
    border-radius: 16px;
    border-color: #3882F6;
}

.header{
    background-color: #1F2937;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.left-header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-header{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.greetings{
   
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px 120px 80px;
    gap:50px;
}

.Title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    min-width: 400px;
}

.Title{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    display: flex;
}

.sub-texttwo{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

.button button{
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
    display: flex;
    font-weight: bold;
}

.gallery{
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
}

.gallery-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    padding-bottom: 30px;
}

.gallerycontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
    text-align: justify;
    word-break: break-all;
}

.info{
    max-width: 150px;
}

.sub-text{
    font-size: 10px;
    color: #1F2937;
    padding: 10px;
}

.testimonial{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 270;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author{
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 15%;
}

.action-container{
    background-color: white;
    display: flex;
    padding: 50px 80px;
    justify-content: center;
    align-items: center;
}
.action{
    background-color: #3882F6;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.left-action{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.action-title{
    color:#E5E7EB;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
}

.sub-text-three{
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 300;
}

.right-action button{
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
    display: flex;
    padding: 15px 60px;
    font-weight: bold;
}

.footer{
    height:72px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
